<nav class="navbar navbar-dark navbar-expand-lg bg-gray-800">
  <div class="container">
    <a
      href="/"
      class="btn border border-0 d-flex flex-column align-items-center"
    >
      <svg
        version="1.1"
        id="Icons"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        viewBox="-3.2 -3.2 38.40 38.40"
        xml:space="preserve"
        width="64px"
        height="64px"
        fill="#ffffff"
        stroke="#ffffff"
      ><g id="SVGRepo_bgCarrier" stroke-width="0"><path
            transform="translate(-3.2, -3.2), scale(1.2)"
            d="M16,31.876127718637388C18.349974384073693,32.31062556364946,21.192335090314067,32.01571933222418,22.915187392340144,30.35953458150157C24.732026931224237,28.612999527236546,23.70106114599063,25.34192592577864,25.026797891622085,23.198631105388404C26.142976132687586,21.39412576102721,29.253726594706457,21.197923030749436,29.842940251663485,19.15956077881493C30.423125106843127,17.15243332347064,28.540481272880893,15.271867845304588,27.892261420560033,13.28566893501544C27.299236627405016,11.468592222968194,26.99025661405216,9.617447010319532,26.165940935803516,7.892932630746415C25.196242740016455,5.864269914984655,24.79234178541786,2.83274829350427,22.61943011741384,2.2546117280748312C20.257519216358713,1.6261890101644045,18.440824410256305,5.06197535850086,16,5.1881277076900005C13.743643264352826,5.304745970607465,11.955514940270227,2.758589102548486,9.702080852982139,2.9222361373348082C7.379426219228639,3.0909100496496333,4.793929947693664,4.106909554663982,3.5739112490112923,6.090524893195514C2.3287876525029256,8.114958016285343,3.621835551125047,10.761173900202154,3.4240488131193505,13.129621207345428C3.254732865129155,15.157137840246463,1.784801831226508,17.174956171368944,2.4888528410160653,19.083831170563094C3.2029702333976346,21.019998888317453,5.749888398832307,21.536800378327147,7.100393904398002,23.09719903277822C8.385744829164178,24.582316898078933,8.817313517982843,26.632128315621536,10.215592209227644,28.011446544038506C11.88740536670717,29.660590149714125,13.690813537104344,31.449171344704528,16,31.876127718637388"
            fill="#fd7e14"
            strokewidth="0"
          ></path></g><g
          id="SVGRepo_tracerCarrier"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke="#CCCCCC"
          stroke-width="0.64"
        ></g><g id="SVGRepo_iconCarrier">
          <style type="text/css">
            .st0{fill:none;stroke:#000000;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
          </style>
          <g>
            <path
              d="M27,32h-9.1c-1.5,0-2.8-0.6-3.9-1.6L0.3,16.7c-0.4-0.4-0.4-1,0-1.4s1-0.4,1.4,0L15.4,29c0.7,0.6,1.5,1,2.5,1H27 c0.6,0,1,0.4,1,1S27.6,32,27,32z"
            ></path>
          </g>
          <path
            d="M27.1,23H17c-0.6,0-1-0.4-1-1s0.4-1,1-1h5.8c-0.4-0.3-0.7-0.6-1-1H15c-0.6,0-1-0.4-1-1s0.4-1,1-1h5.6 c-0.4-1.1-0.6-2.4-0.6-4c0-0.3-0.1-0.5-0.3-0.7C19.5,13.1,19.3,13,19,13h-1c-3.3,0-7-3.7-7-7c0-0.4-0.3-0.8-0.6-0.9 C10,4.9,9.5,5,9.2,5.3l-7,8c-0.3,0.4-0.3,1,0,1.4L15,27.4c1,1,2.4,1.6,3.9,1.6H27c0.5,0,0.9-0.3,1-0.8l0.4-1.8 c0.2-0.9,0.1-1.8-0.4-2.5C27.8,23.6,27.5,23.3,27.1,23z M10.5,18C9.1,18,8,16.9,8,15.5S9.1,13,10.5,13s2.5,1.1,2.5,2.5 S11.9,18,10.5,18z"
          ></path>
          <g>
            <path
              d="M19,15.7c-0.4,0-0.8-0.3-1-0.7c-0.7-2.6,0-5.5,2-7.4l7.3-7.3c0.4-0.4,1-0.4,1.4,0s0.4,1,0,1.4L21.4,9 c-1.4,1.4-2,3.5-1.5,5.5c0.1,0.5-0.2,1.1-0.7,1.2C19.2,15.7,19.1,15.7,19,15.7z"
            ></path>
          </g>
          <g>
            <path
              d="M10,8C9.6,8,9.2,7.7,9.1,7.3C8.9,6.8,9.2,6.2,9.7,6.1c1.7-0.6,3.2-1.7,4.1-3.3l1.4-2.3C15.4,0,16-0.1,16.5,0.1 C17,0.4,17.1,1,16.9,1.5l-1.4,2.3c-1.2,2-3,3.4-5.2,4.1C10.2,8,10.1,8,10,8z"
            ></path>
          </g>
        </g></svg>
      <h1 class="text-orange">Gym Blog</h1>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link active text-uppercase"
            aria-current="page"
            href="/"
          >Home</a>
        </li>
        <li class="nav-item create-blogs">
          <a class="nav-link" href="#">
            FEATURE
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/blogs/create">Post</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/me/stored/blogs">My Blogs</a>
            <a class="dropdown-item" href="/me/trash/blogs">Trash</a>
            <div class="dropdown-divider"></div>
            {{! <a class="dropdown-item" href="#">Log out</a> }}
          </div>
        </li>
        <li class="nav-item">
          <a href="/contact" class="nav-link border border-0 nav-link">SUPPORT
            CENTER</a>
        </li>
      </ul>
      <form
        method="get"
        action="/search"
        class="d-flex mt-3"
        role="search"
        novalidate
      >
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
          name="search"
        />
        <button class="btn btn-outline-orange border border-0" type="submit"><i
            class="bi bi-search text-light"
          ></i></button>
      </form>
    </div>
  </div>
</nav>

<script>
  const createBlogs = document.getElementsByClassName("create-blogs"); const
  dropdownMenu = document.getElementsByClassName("dropdown-menu");
  createBlogs[0].onclick = () => { dropdownMenu[0].style.display = "block" }
</script>